<!-- New Pacient Button-->
<h1 *ngIf="!newPatient && !profilePatient" >Pacientes</h1>
<h1 *ngIf="newPatient && !profilePatient" >Registro de Pacientes</h1>
<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>
<br *ngIf="!newPatient && !profilePatient" />

<button type="button" name="button" class="btn btn-group" *ngIf="!newPatient && !profilePatient" (click)="newPatientForm()">Nuevo Paciente</button>

<br *ngIf="!newPatient && !profilePatient" />
<br *ngIf="!newPatient && !profilePatient" />

<form class="form-horizontal" *ngIf="!newPatient && !profilePatient">
  <input class="form-control mr-sm-2" placeholder="Buscar Paciente" type="text">
  <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
</form>
<br *ngIf="!newPatient && !profilePatient" />
<br *ngIf="!newPatient && !profilePatient" />
<table class="table table-striped table-hover table-bordered" *ngIf="!newPatient && !profilePatient">
  <thead class="thead-dark">
    <tr>
      <th>Cédula</th>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Telefono</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patientPosts" (click)="verPaciente(patient)">
      <td>{{ patient.cedula }}</td>
      <td>{{ patient.nombre }}</td>
      <td>{{ patient.apellido }}</td>
      <td>{{ patient.telefono_celular }}</td>
    </tr>
  </tbody>
</table>
<!-- New Pacient Button-->


<!-- New Pacient Form -->
<form [formGroup]="form" name="patientForm" (submit)="onPatientSubmit()" *ngIf="newPatient && !profilePatient">
  <div class="row">
    <div class="col-lg-6">
      <label>Nombre</label>
      <input class="form-control" name="inputNombre" formControlName="inputNombre" placeholder="Nombre" type="text">
      <br>
      <label>Apellidos</label>
      <input class="form-control" name="inputApellido" formControlName="inputApellido" placeholder="Apellidos" type="text">
      <br>
      <label>Recomendado por</label>
      <input class="form-control" name="inputRecomendado" formControlName="inputRecomendado" placeholder="Recomendado por" type="text">
      <br>
      <label>Dirección</label>
      <input class="form-control" name="inputDireccion" formControlName="inputDireccion" placeholder="Dirección" type="text">
      <br>
      <label>Cantón</label>
      <input class="form-control" name="inputCanton" formControlName="inputCanton" placeholder="Cantón" type="text">
      <br>
      <label>Provincia</label>
      <input class="form-control" name="inputProvincia" formControlName="inputProvincia" placeholder="Provincia" type="text">
      <br>
      <label>No. Cédula</label>
      <input class="form-control" name="inputCedula" formControlName="inputCedula" placeholder="Cédula" type="text" (blur)="checkCedula()">
      <br>
    </div>

    <div class="col-lg-6">
      <label>Ocupación</label>
      <input class="form-control" name="inputOcupacion"  formControlName="inputOcupacion" placeholder="Ocupación" type="text">
      <br>
      <label>Télefono Célular</label>
      <input class="form-control" name="inputCelular" formControlName="inputCelular" placeholder="Célular" type="text">
      <br>
      <div class="row">
        <div class="col-lg-9">
          <label>Télefono Oficina</label>
          <input class="form-control" name="inputOficina" formControlName="inputOficina" placeholder="Télefono Oficina" type="text">
        </div>
        <div class="col-lg-3">
          <label>Ext.</label>
          <input class="form-control" name="inputExt" formControlName="inputExt" placeholder="Ext" type="text">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-9">
          <label>Télefono Habitación</label>
          <input class="form-control" name="inputHabitacion" formControlName="inputHabitacion" placeholder="Télefono Habitación" type="text">
        </div>
        <div class="col-lg-3">
          <label>Apdo</label>
          <input class="form-control" name="inputApdo" formControlName="inputApdo" placeholder="Apdo" type="text">
        </div>
      </div>
      <br>
      <label>Médico</label>
      <input class="form-control" name="inputMedico" formControlName="inputMedico" placeholder="Medico" type="text">
      <br>
      <label>En caso de emergencia avisar a</label>
      <input class="form-control" name="inputAvisar" formControlName="inputAvisar" placeholder="En caso de emergencia avisar a" type="text">
      <br>
      <div class="row">
        <div class="col-lg-6">
          <label>Parentesco</label>
          <input class="form-control" name="inputParentesco" formControlName="inputParentesco" placeholder="Parentesco" type="text">
        </div>
        <div class="col-lg-6">
          <label>Télefono</label>
          <input class="form-control" name="inputTelParentesco" formControlName="inputTelParentesco" placeholder="Télefono" type="text">
        </div>
      </div>
    </div>
  </div>

  <!-- Go Back Button -->
  <button [disabled]="processing" type="button" name="button" (click)="goBack()" class="btn btn-warning">Volver</button>
  <!-- Submit Button -->
  <button [disabled]="!cedulaValid || processing || !form.valid" type="submit" name="button" class="btn btn-success">Registrar</button>

</form>
<!-- New Pacient Form -->

<!-- Profile Pacient Button-->

<div *ngIf="profilePatient">
  <h1>Expediente del Paciente</h1>
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#editar" role="tab" (click)="editPatientForm()">Editar Datos Paciente</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#historial" role="tab" (click)="editPatientForm()">Historial Clinico del Paciente</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#odontograma" role="tab">Odontograma del Paciente</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tratamientos" role="tab">Tratamientos del Paciente </a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane" id="editar" role="tabpanel">
      <form [formGroup]="form" name="patientForm" (submit)="onPatientUpdateSubmit()" *ngIf="editPatient">
        <div class="row">
          <div class="col-lg-6">
            <label>Nombre</label>
            <input class="form-control" name="inputNombre" formControlName="inputNombre" placeholder="Nombre" type="text" [(ngModel)]="patientSelect.nombre" >
            <br>
            <label>Apellidos</label>
            <input class="form-control" name="inputApellido" formControlName="inputApellido" placeholder="Apellidos" type="text" [(ngModel)]="patientSelect.apellido" >
            <br>
            <label>Recomendado por</label>
            <input class="form-control" name="inputRecomendado" formControlName="inputRecomendado" placeholder="Recomendado por" type="text" [(ngModel)]="patientSelect.recomendado" >
            <br>
            <label>Dirección</label>
            <input class="form-control" name="inputDireccion" formControlName="inputDireccion" placeholder="Dirección" type="text" [(ngModel)]="patientSelect.direccion">
            <br>
            <label>Cantón</label>
            <input class="form-control" name="inputCanton" formControlName="inputCanton" placeholder="Cantón" type="text" [(ngModel)]="patientSelect.canton">
            <br>
            <label>Provincia</label>
            <input class="form-control" name="inputProvincia" formControlName="inputProvincia" placeholder="Provincia" type="text" [(ngModel)]="patientSelect.provincia">
            <br>
            <label>No. Cédula</label>
            <input class="form-control" name="inputCedula" formControlName="inputCedula" placeholder="Cédula" type="text" (blur)="checkCedula()" [(ngModel)]="patientSelect.cedula" >
            <br>
          </div>

          <div class="col-lg-6">
            <label>Ocupación</label>
            <input class="form-control" name="inputOcupacion"  formControlName="inputOcupacion" placeholder="Ocupación" type="text" [(ngModel)]="patientSelect.ocupacion">
            <br>
            <label>Télefono Célular</label>
            <input class="form-control" name="inputCelular" formControlName="inputCelular" placeholder="Célular" type="text" [(ngModel)]="patientSelect.telefono_celular">
            <br>
            <div class="row">
              <div class="col-lg-9">
                <label>Télefono Oficina</label>
                <input class="form-control" name="inputOficina" formControlName="inputOficina" placeholder="Télefono Oficina" type="text" [(ngModel)]="patientSelect.telefono_oficina">
              </div>
              <div class="col-lg-3">
                <label>Ext.</label>
                <input class="form-control" name="inputExt" formControlName="inputExt" placeholder="Ext" type="text" [(ngModel)]="patientSelect.ext_oficina">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-9">
                <label>Télefono Habitación</label>
                <input class="form-control" name="inputHabitacion" formControlName="inputHabitacion" placeholder="Télefono Habitación" type="text" [(ngModel)]="patientSelect.telefono_habitacion">
              </div>
              <div class="col-lg-3">
                <label>Apdo</label>
                <input class="form-control" name="inputApdo" formControlName="inputApdo" placeholder="Apdo" type="text" [(ngModel)]="patientSelect.apdo_habitacion">
              </div>
            </div>
            <br>
            <label>Médico</label>
            <input class="form-control" name="inputMedico" formControlName="inputMedico" placeholder="Medico" type="text" [(ngModel)]="patientSelect.medico">
            <br>
            <label>En caso de emergencia avisar a</label>
            <input class="form-control" name="inputAvisar" formControlName="inputAvisar" placeholder="En caso de emergencia avisar a" type="text" [(ngModel)]="patientSelect.emergencia">
            <br>
            <div class="row">
              <div class="col-lg-6">
                <label>Parentesco</label>
                <input class="form-control" name="inputParentesco" formControlName="inputParentesco" placeholder="Parentesco" type="text" [(ngModel)]="patientSelect.parentesco">
              </div>
              <div class="col-lg-6">
                <label>Télefono</label>
                <input class="form-control" name="inputTelParentesco" formControlName="inputTelParentesco" placeholder="Télefono" type="text" [(ngModel)]="patientSelect.telefono_parentesco">
              </div>
            </div>
          </div>
        </div>

        <!-- Go Back Button -->
        <button [disabled]="processing" type="button" name="button" (click)="goBack()" class="btn btn-warning">Volver</button>
        <!-- Submit Button -->
        <button [disabled]="processing || !form.valid" type="submit" name="button" class="btn btn-success">Modificar</button>

      </form>
    </div>

    <div class="tab-pane" id="historial" role="tabpanel">
      <form [formGroup]="form" name="blogForm" (submit)="onBlogSubmit()" *ngIf="editPatient">
        <div class="row">
          <div class="col-lg-4">
            <label>¿Está usted bajo tratamiento médico?</label>
            <br>
            <label><input type="checkbox" name="tratamiento" value="Si"> Si</label>
            <br>
            <label>¿Está tomando algún medicamento?</label>
            <br>
            <label><input type="checkbox" name="medicamento" value="Si"> Si</label>
            <br>
            <label>Ha padecido usted de:</label>
            <br>
            <label><input  type="checkbox" name="diabetes" value="Si" [checked]="diabetes"> Diabetes</label><br>
            <h1> <small>{{editPatient}}</small></h1>
            <label><input type="checkbox" name="artritis" value="Si"> Artritis</label><br>
            <label><input type="checkbox" name="cardiacas" value="Si"> Enfermedades cardíacas</label><br>
            <label><input type="checkbox" name="fiebre" value="Si"> Fiebre reumática</label><br>
            <label><input type="checkbox" name="hepatitis" value="Si"> Hepatitis</label><br>
            <label><input type="checkbox" name="ulceras" value="Si"> Ulceras</label><br>
            <label><input type="checkbox" name="trastornos" value="Si"> Trastornos Renales</label><br>
            <label><input type="checkbox" name="nerviosas" value="Si"> Enfermedades Nerviosas</label><br>
            <label>Otras enfermedades:</label><br>
            <textarea  name="comment" rows=5 cols=40 placeholder="Comentario"></textarea><br>
            <br>
            <label>Le han operado alguna vez o ha estado internado(a).</label>
            <br>
            <label><input type="checkbox" name="internado" value="Si"> Si</label>
          </div>
          <div class="col-lg-4">
            <label>Ha observado alguna alteración en su salud general en los últimos meses.</label>
            <br>
            <label><input type="checkbox" name="alteraciones" value="Si"> Si</label>
            <br>
            <label>Padece o ha padecido alguna enfermedad o trastorno que no haya sido mencionado.</label>
            <br>
            <label><input type="checkbox" name="padecimiento" value="Si"> Si</label>
            <br>
            <label>Es usted alérgico a:</label>
            <br>
            <label><input type="checkbox" name="aspirina" value="Si"> Aspirina</label><br>
            <label><input type="checkbox" name="penicilina" value="Si"> Penicilina</label><br>
            <label><input type="checkbox" name="sulfas" value="Si"> Sulfas</label><br>
            <label>Otros medicamentos:</label><br>
            <textarea  name="comment" rows=5 cols=40 placeholder="Comentario"></textarea><br>
            <br>
            <label>Ha tenido alguna vez reacciones anormales a la anestesia dental.</label>
            <br>
            <label><input type="checkbox" name="anestesia" value="Si"> Si</label>
            <br>
            <label>Presenta sangrado prolongado.</label>
            <br>
            <label><input type="checkbox" name="sangrado" value="Si"> Si</label>
            <br>
            <label>Padece de desmayos.</label>
            <br>
            <label><input type="checkbox" name="desmayos" value="Si"> Si</label>
          </div>
          <div class="col-lg-4">
            <h1>Damas</h1>
            <label>¿Está usted embarazada?</label>
            <br>
            <label><input type="checkbox" name="embarazada" value="Si"> Si</label>
            <br>
            <label>¿En período de lactancia?</label>
            <br>
            <label><input type="checkbox" name="lactancia" value="Si"> Si</label>
            <br>
            <label>¿Sufre transtornos durante el ciclo menstrual?</label>
            <br>
            <label><input type="checkbox" name="transtornos" value="Si"> Si</label>
            <br>
            <label>Observaciones:</label><br>
            <textarea  name="comment" rows=5 cols=40 placeholder="Comentario"></textarea><br>
            <br>
            <label>Fecha:</label>
            <input class="form-control" name="inputFecha"   placeholder="Fecha" type="date">
          </div>
        </div>
      </form>
    </div>
    <div class="tab-pane" id="odontograma" role="tabpanel">..dqwq.</div>
    <div class="tab-pane" id="tratamientos" role="tabpanel">..dadasa.</div>
  </div>
</div>
<!-------------------------------------------------------------------------------------------------------------------------------------->
<!-- Panel Start -->
<!-- <div *ngIf="newPatient">
<!-- Panel Outer Layer
<div class="panel panel-primary" *ngFor="let patient of patientPosts">

<!-- Panel Title
<div class="panel-heading">
<h3 class="panel-title">{{ patient.title }}</h3>
</div>

<!-- Panel Body
<div class="panel-body">
{{ patient.body }}
</div>

<!-- Panel Footer Start
<div class="panel-footer">
<strong>Posted by: </strong>{{ patient.createdBy }}
<br />
<strong>Date: </strong>{{ patient.createdAt | date:'MMM dd, yyyy' }}
<br />
<div *ngIf="username === patient.createdBy">
<strong>Likes: </strong>{{ patient.likes }}
<br />
<strong>Dislikes: </strong>{{ patient.dislikes }}
</div>

<!-- Edit Button
<a [routerLink]="['/edit-patient/', patient._id]" *ngIf="username === patient.createdBy"><button type="button" name="button" class="btn btn-sm btn-info">Edit</button></a>
<!-- Delete Button
<a [routerLink]="['/delete-patient/', patient._id]" *ngIf="username === patient.createdBy"><button type="button" name="button" class="btn btn-sm btn-danger">Delete</button></a>

<!-- Likes Dropdown
<div class="dropdown">
<!-- Like Button
<button [disabled]="patient.likedBy.indexOf(username) > -1" type="button" name="button" class="btn btn-sm btn-success" *ngIf="username !== patient.createdBy" (click)="likePatient(patient._id)"><span class="glyphicon glyphicon-thumbs-up">&nbsp;</span>Likes: {{ patient.likes }}</button>
<!-- Dropdown Menu Items
<div class="dropdown-content">
<a [routerLink]="['/user/', liker]" *ngFor="let liker of patient.likedBy">{{ liker }}</a>
</div>
</div>

<!-- Dislikes Dropdown
<div class="dropdown">
<!-- Dislike Button
<button [disabled]="patient.dislikedBy.indexOf(username) > -1" type="button" name="button" class="btn btn-sm btn-warning" *ngIf="username !== patient.createdBy" (click)="dislikePatient(patient._id)"><span class="glyphicon glyphicon-thumbs-down">&nbsp;</span>Dislikes: {{ patient.dislikes }}</button>
<!-- Dropdown Menu Items
<div class="dropdown-content">
<a [routerLink]="['/user/', disliker]" *ngFor="let disliker of patient.dislikedBy">{{ disliker }}</a>
</div>
</div>

</div>
<!-- Panel Footer End -->

<!-- Post Comment Box: Start
<ul class="list-group">
<li class="list-group-item">
<!-- Post Comment Button
<button type="button" name="button" class="btn btn-sm btn-danger" (click)="draftComment(patient._id)" [disabled]="newComment.indexOf(patient._id) > -1">Post Comment</button>
<br />
<br />
<div *ngIf="newComment.indexOf(patient._id) > -1">

<!-- Form: Comment Form Start
<form [formGroup]="commentForm">
<!-- Textarea Input
<textarea name="comment" rows="10" cols="30" class="form-control" formControlName="comment"></textarea>
<!-- Validation
<div [ngClass]="{'has-success': !commentForm.controls.comment.errors && commentForm.controls.comment.dirty, 'has-error': commentForm.controls.comment.dirty && commentForm.controls.comment.errors}">
<ul class="help-block">
<li *ngIf="commentForm.controls.comment.errors?.required && commentForm.controls.comment.dirty">This field is required.</li>
<li *ngIf="(commentForm.controls.comment.errors?.maxlength && commentForm.controls.comment.dirty) ||(commentForm.controls.comment.errors?.minlength && commentForm.controls.comment.dirty)">Comment must be at least 1 character but no more than 200.</li>
</ul>
</div>
<!-- Post Button
<button [disabled]="!commentForm.valid || processing" type="submit" name="button" class="btn btn-sm btn-info" (click)="postComment(patient._id)">Post</button>
<!-- Cancel Button
<button [disabled]="processing" type="button" name="button" class="btn btn-sm btn-danger" (click)="cancelSubmission(patient._id)">Cancel</button>
</form>
<!-- Form: Comment Form End

</div>

<!-- Show Comments
<li *ngIf="enabledComments.indexOf(patient._id) === -1 && patient.comments.length > 0" class="list-group-item">
<span (click)="expand(patient._id)">
Show comments&nbsp;&nbsp;
<div class="glyphicon glyphicon-comment"></div>
</span>
</li>

<!-- Hide Comments
<li *ngIf="enabledComments.indexOf(patient._id) > -1" class="list-group-item">
<span (click)="collapse(patient._id)">
Hide Comments&nbsp;&nbsp;
<div class="glyphicon glyphicon-comment"></div>
</span>
</li>

<!-- Comment
<div *ngIf="enabledComments.indexOf(patient._id) > -1">
<li *ngFor="let comment of patient.comments" class="list-group-item">
<strong>{{ comment.commentator }}:</strong> {{ comment.comment }}
</li>
</div>
</ul>
<!-- Post Comment Box: End

</div>
<!-- Panel Outer Layer
</div>
<!-- Panel End -->
