<div class="section">
      <div class="container">
        <label><input #text1 type="checkbox" name="caries" [(ngModel)]="odontogramBlanco.caries"> Caries</label>
        <label><input #text2 type="checkbox" name="mal_estado" [(ngModel)]="odontogramBlanco.mal_estado"> Mal estado</label>
        <label><input #text3 type="checkbox" name="buen_estado" [(ngModel)]="odontogramBlanco.buen_estado"> Buen estado</label>
        <input #text4 name="inputPieza"  placeholder="Pieza" type="text" [(ngModel)]="odontogramBlanco.pieza" >
        <div class="content">
          <hr>

          <!-- shows when a player has won the game -->
          <section *ngIf="winner" class="notification is-success has-text-centered" style="color:white">
              <!--  <h1>Player {{ winner.player.id }} has won the game!</h1>
            <h5>Click <a href="{{ gameUrl }}">here</a> to start a new game.</h5>-->
          </section>

          <!-- <div class="columns" *ngIf="validPlayer"> -->
          <div class="columns">
            <div class="column has-text-centered" *ngFor="let odontogram of odontograms; let i = index">
              <table class="is-bordered" [style.opacity] = "i == player ? 0.5 : 1">
                <tr *ngFor="let row of odontogram.tiles; let j = index">
                  <td *ngFor="let col of row; let k = index"
                  (click) = "clickTile($event)"
                  [style.background-color] = "this.odontogramService.clickable[j][k] == 'x' ? '' : 'transparent'"
                  [class.win] = "col.status == 'win'"
                  [class.fail] = "col.status !== 'win'"
                  [class.used] = "col.used == true"
                  class="battleship-tile" id="t{{i}}{{transformNumber(j)}}{{transformNumber(k)}}">
                  <!-- {{ imprimeValor(j,k)}} [class.tcalza] = "col.status == 'calza'" -->
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="columns">
          <button  type="button" name="button" (click)="onOdontogramSubmit(text1, text2, text3, text4)" class="btn btn-success">Guardar</button>
        <table class="table table-striped table-hover table-bordered" >
          <thead class="thead-dark">
            <tr>
              <th>Condición del diente</th>
              <th>Pieza</th>
              <th>Color</th>
            </tr>
            <tr>
            </tr>
          </thead>
            <tbody>
              <tr *ngFor="let odontogram of odontogramX" (click)="verOdontogram(odontogram)" >
                <td>{{ odontogram.caries }}</td>
                <td>{{ odontogram.mal_estado}}</td>
                <td>{{ odontogram.buen_estado}}</td>
                <td>{{ odontogram.pieza }}</td>
              </tr>
            </tbody>
          </table>

      </div>
      </div>
    </div>
    </div>
