.container {

   }
   .battleship-tile {
     color: black;
   }
   .used {
     cursor: pointer;
     background-color: #686c70;
     /* color: #fff; */
   }
   /* .tcalza {
     background-color: black;
      color: #fff;
   } */
   .content table td, .content table th {
       /* padding: 0.5em 0.5em; */
       vertical-align: middle;
       text-align: center;
       border: none;
       font-size: 8px;
       font-size: 1vw;
       height: 30px;
       width: 30px;
   }

   .content table tr:hover {
       /* background-color: transparent; */
   }

   .used:hover {
      background-color: #2780E3;
   }

   .content table {
     background-color: #e4e7ea;
   }
