<div id="main" role="main">
      <div id="tratamiento">
        <h2>Tratamiento</h2>
        <select
          data-bind=" options: tratamientosPosibles,
                      value: tratamientoSeleccionado,
                      optionsText: function(item){ return item.nombre; },
                      optionsCaption: 'Seleccione un tratamiento...'">
        </select>
        <!-- <select #selectElem (change)="alertTratamiento()" [(ngModel)]="tratamientoSeleccionado">
          <option *ngFor="let tratamiento of tratamientos" [value]="tratamiento.id">
              {{tratamiento.nombre}}
          </option>
        </select> -->
        <ul data-bind="foreach: tratamientosAplicados">
          <li>
            P<span data-bind="text: diente.id"></span><span data-bind="text: cara"></span>
            -
            <span data-bind="text: tratamiento.nombre"></span>
            |
            <a href="#" data-bind="click: $parent.quitarTratamiento">Eliminar</a>
          </li>
        </ul>
      </div>
      <div id="odontograma-wrapper">
        <h2>Odontograma</h2>
        <div id="odontograma"></div>
      </div>
    </div>
