<div class="section">
      <div class="container">
        <div class="content">
          <h1 class="title">Odontograma</h1>
          <hr>

          <!-- shows when a player has won the game -->
          <section *ngIf="winner" class="notification is-success has-text-centered" style="color:white">
              <!--  <h1>Player {{ winner.player.id }} has won the game!</h1>
            <h5>Click <a href="{{ gameUrl }}">here</a> to start a new game.</h5>-->
          </section>

          <!-- <div class="columns" *ngIf="validPlayer"> -->
          <div class="columns">
            <div class="column has-text-centered" *ngFor="let board of boards; let i = index">
              <table class="is-bordered" [style.opacity] = "i == player ? 0.5 : 1">
                <tr *ngFor="let row of board.tiles; let j = index">
                  <td *ngFor="let col of row; let k = index"
                  (click) = "clickTile($event)"
                  [style.background-color] = "col.used ? '' : 'transparent'"
                  [class.win] = "col.status == 'win'" [class.fail] = "col.status !== 'win'"
                  class="battleship-tile" id="t{{i}}{{transformNumber(j)}}{{transformNumber(k)}}">
                  {{ col.value == "X" ? "" : "  " }}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    </div>
