<!-- Fixed navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="navbar-toggler-icon"></span>
       </button>
      <a class="navbar-brand" routerLink="/">Clínica Odontológica</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" routerLink="/">Inicio</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" routerLink="/calendar">Agenda</a></li>
        <li class="nav-item" ><a class="nav-link" *ngIf="authService.loggedIn()" routerLink="/patient">Pacientes</a></li>
             <!--<li class="nav-item" ><a class="nav-link" *ngIf="authService.loggedIn()" routerLink="/board">Odontograma</a></li>-->
        <!-- <li class="nav-item" ><a class="nav-link" *ngIf="authService.loggedIn()" routerLink="/profile">Administrador</a></li> -->
        <!-- <li class="nav-item" ><a class="nav-link" *ngIf="authService.loggedIn()" routerLink="">Reportes</a></li> -->

        <li class="nav-item" ><a class="nav-link" *ngIf="!authService.loggedIn()" routerLink="/login">Iniciar Sesión</a></li>
        <li class="nav-item" ><a class="nav-link" *ngIf="authService.loggedIn()" href="#" routerLink="/register" >Registrar </a></li>
        <li class="nav-item" ><a class="nav-link" *ngIf="authService.loggedIn()" href="#" (click)="onLogoutClick()">Cerrar Sesión </a></li>

       <!-- <li  *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/register">Registrar</a></li> -->
    </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
